%h1
%label
  Place:
%select{"class"=>"place", "data-bind" => "options: places, optionsValue:'slug', optionsText:'name', value: current_place_id, optionsCaption:'Choose...'" }
%label
  Categories:
%select{"class" => "category", "data-bind" => "options: categories, optionsValue:'slug', optionsText:'name', value: current_category_id, optionsCaption:'Choose...'" }

#deals{"data-bind"=>"foreach: deals"}
  .deal_block
    %a{"href"=>"/deal/"}
      %span.headline{"data-bind"=>"text: first_line"}
      %span.subhead{"data-bind"=>"text: second_line"}
      %img{"data-bind"=>"attr:{src: photo.url}"}
